
<h1>Dados do Formulário</h1>

{{#if error}}
  <p class="error">{{error}}</p>
{{else}}
  <p>Nome: {{nome}}</p>
  <p>Endereço: {{endereco}}</p>
  <p>Telefone: {{telefone}}</p>
  <p>Data de Agendamento: {{data}}</p>
{{/if}}
